
.NT10{
    color: #fff;
    margin-left: 120px;
    padding-top: 250px;
}
.NT2,
.NT3 {
    display: flex;
    flex-wrap: wrap;
}
.NT21,
.NT22,
.NT23 {
    flex: 30%;
}
 .NT31 {
     flex: 30%;
 }
 .NT31 h2{
     font-size: 26px;
     font-weight: 500;
     margin: 0px 20px 0px 0px;
 }
 .NT32 {
     flex: 70%;
 }
 .NT32 p {
     font-size: 17px;
     line-height: 1.6;
     color: #848484;
 }