
  .P2 {
      padding-top: 100px;
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      align-items: center;
      text-align: center;
      
  }
  .P21, 
  .P22 {
      flex: 50%;    
  }

  .nutpt button{
    background: #fff;
    color: #F78536;
    padding: 20px 30px;
    line-height: 2px;
    border:1px solid  #F78536;
    box-shadow: 2px 2px 30px rgba(175, 82, 6, 0.233);

    border-radius: .5rem;
    cursor: pointer;
    font-weight: 300;
}
.nutpt button:hover{
    background: #F78536;
    color: #fff;
    box-shadow: 2px 2px 30px rgba(230, 108, 8, 0.664);

}